.snowflakes-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.snowflake {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #bffffa;
  border-radius: 50%;
}
