/* styles/globals.css atau styles/tailwind.css */

@keyframes fadeDownEnter {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeDownExit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  .fade-down-enter {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeDownEnter 300ms ease;
  }
  
  .fade-down-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-down-exit {
    opacity: 1;
    transform: translateY(0);
    animation: fadeDownExit 300ms ease;
  }
  
  .fade-down-exit-active {
    opacity: 0;
    transform: translateY(-10px);
  }
  